html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: 'Karla', sans-serif;
}
html {
    font-size: 16px;
}
#root {
    min-width: 100vw;
    min-height: 100vh;
    color: #293264;
}
.main {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #F5F7FB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#blue-blob {
    position: absolute;
    left: 0;
    bottom: 0;
}
#yellow-blob {
    position: absolute;
    right: 0;
    top: 0;
}
.quiz-start {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start-title {
    font-weight: 700;
    font-size: 2rem;
}
.start-subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 13px;
}
.game-button {
    font-family: 'Inter', sans-serif;
    color: #f5f7fb;
    background-color: #4D5B9E;
    border: none;
    border-radius: 15px;
    cursor:pointer;
}
#start-button {
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 60px;
    margin-top: 30px;
}
.game-button:hover {
    background-color: #D6DBF5;
    color: #293264;
}
.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.answer-error {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 0.7rem;
    color: #f74444;
    position: absolute;
    bottom: -1.4rem;
}
.question-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: min(1000px, 80%);
    margin: 60px 0 80px 0;
}
.question-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border-bottom: 1px solid #DBDEF0;
    width: 100%;
    z-index: 3;
}
.question-title {
    color: #293264;
    font-size: 1rem;
    font-weight: 700px;
    line-height: 1.2rem;
}
.answer-container {
    display: flex;
    gap: 13px;
    margin-top: 12px;
    flex-wrap: wrap;
}
.answer {
    min-width: 70px;
    height: 1.3rem;
    background-color: #F5F7FB;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 0.7rem;
    box-sizing: border-box;
    padding: 0px 8px;
    cursor: pointer;
}
.answer:hover {
    background-color: #D6DBF5;
    border: 1px solid #D6DBF5;
}
.answer-inactive {
    min-width: 70px;
    height: 1.3rem;
    color: #4D5B9E;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 0.7rem;
    box-sizing: border-box;
    padding: 0px 8px;
    cursor: pointer;
    opacity: 0.5;
}
.chosen {
    background-color: #D6DBF5;
    border: 1px solid #D6DBF5;
}
.correct {
    background-color: #94D7A2;
    border: 1px solid #94D7A2;
    color: #293264;
    opacity: 1;
}
.incorrect {
    background-color: #F8BCBC;
    border: 1px solid #F8BCBC;
}
.round-finished-text{
    font-size: 1.1rem;
    position: absolute;
    bottom: -2rem;
}

@media only screen and (min-width: 1300px) {
    html {
        font-size: 24px;
    }
}
#question-page-button {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 14px 20px;
    margin-top: 20px;
}